.notfound{
    text-align: center;
  }
  .notfound b{
    font-size: 250px;
  }
  .notfound h4{
    font-size: 40px;
  }
  .bg-cat{
    background: url('/imgs/IMG_10911.jpg') no-repeat center center fixed ;
    background-size: cover;
    height: 540px !important;}
    .txt{
      font-size: 28px !important;
      
    }