.notfound{
    text-align: center;
  }
  .notfound b{
    font-size: 250px;
  }
  .notfound h4{
    font-size: 40px;
  }
  .bg-cat{
    background-image: url('/imgs/IMG_10911.jpg')  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 540px !important;}
    .txt{
      font-size: 20px !important;
      
    }